<%= render :partial => "title" %>
<div class="container-fluid row">  
  <div class="container-fluid col-md-offset-3">
    <button class="btn btn-default">
      <%= link_to raw("<i class=\"glyphicon glyphicon-menu-left\">返回清單</i>"), todo_lists_path %>      
    </button>  
  </div>
  <div class="container-fluid col-md-6 col-md-offset-3">
    <table class="table table-bordered list-table">
      <tr>
        <th>標題</th>
        <td><%= @todo_list.title %></td>
      </tr>
      <tr>
        <th>Due date</th>
        <td><%= @todo_list.due_date %></td>
      </tr>
      <tr>
        <th>Todo內容</th>
        <td><%= simple_format(@todo_list.description) %></td>
      </tr>
    </table>
  </div>  
</div>

